{% extends "layouts/post.html" %}
{#- Port of _ig66/index.md: the two newest family-journal weeks, then the next
    six, each as Markdown (rendered here, as Liquid-then-kramdown did). -#}
{% block content %}
{%- set root = get_section(path="_index.md") -%}{%- set weeks = [d for d in root.pages if d.extra.collection == "ig66"] | sort(attribute="extra.sort_key") | reverse -%}
<script type=module>
    import { defer, load_ig66 } from '/assets/js/index.js'
    defer(load_ig66)
</script>

<div class='alert alert-primary' id="random-recent">
</div>
{% set md %}
{%- for item in weeks[:2] %}{% if item.extra.week %}
### [{{ item.title }}]({{ item.extra.permalink }})

[![montage](https://github.com/idvorkin/blob/raw/master/ig66/{{ item.extra.week }}/montage.webp)]({{ item.extra.permalink }})
{{ item.extra.excerpt or "" }}
{% endif %}{% endfor %}
{% endset %}{{ md | markdown | safe }}
<br/>

<div class='alert alert-success' id="random-post">
</div>

<div class='alert alert-info' id="achievment">
</div>
{% set md %}
{%- for item in weeks[2:8] %}{% if item.extra.week %}
### [{{ item.title }}]({{ item.extra.permalink }})

[![montage](https://github.com/idvorkin/blob/raw/master/ig66/{{ item.extra.week }}/montage.webp)]({{ item.extra.permalink }})
{{ item.extra.excerpt or "" }}
{% endif %}{% endfor %}
{% endset %}{{ md | markdown | safe }}
{% endblock content %}
