{% extends "layouts/post.html" %}
{#- Port of _d/weeks.md (Life in Weeks): one box per week from start_date to
    end_year, events from _data/<datafile>.yml. Liquid's date math (epoch +
    n*604800 through the date filter) carried over as-is, in UTC like CI.
    Dropped: a debug console.log of the whole site.data hash. -#}
{% block content %}
<style>
.life-in-weeks h2 {
	margin-top: 0;
}
.life-in-weeks .border-tertiary {
	border-color: #eee;
	color: #666;
}
.life-in-weeks .border-tertiary a {
	color: #666;
}
.life-in-weeks .week a {
	text-decoration: none;
}
.life-in-weeks .future-date {
	background-color: #eee;
}
.float-left{
    float: left!important;
}
</style>
{%- set x = page.extra -%}
{%- set data = load_data(path="data/" ~ x.datafile ~ ".yml") -%}
{%- set parts = x.start_date | split(pat="-") -%}
{%- set start_year = parts[0] | int -%}
{%- set start_month = parts[1] -%}
{%- set start_day = parts[2] -%}
<script>console.log("{{ x.datafile }}");</script>

{% set intro %}My life, where each week I've been alive is a little box. When meaningful things happen (for both better and worse) I make a note of it so I can remember how much of life is influenced by these factors. This is a brilliant idea from this [guy](https://busterbenson.com/life-in-weeks).{% endset %}{{ intro | markdown | safe }}

<div class="life-in-weeks">
<div class="row justify-content-center">
<div class="col">
{%- for year in range(start=start_year, end=x.end_year + 1) %}
{%- set this_year = year ~ "-" ~ start_month ~ "-" ~ start_day %}
{%- set next_year = (year + 1) ~ "-" ~ start_month ~ "-" ~ start_day %}
{%- set age = year - start_year %}
{%- if age % 10 == 0 %}
<br clear="all" />
<a name="decade-{{ age }}"></a>
<div class="row text-left display-block w-100 mt-4">
<div class="col sticky-top mt-1" style="top: 60px; background-color: #fff;"><h2 class="mt-0">
</h2></div>
</div>
{%- endif %}
<div class="border border-gray future-date float-left text-truncate"
style="height: 2em; max-height: 2em; padding: 2px 5px; margin: 2px;"
data-toggle="popover"
data-placement="right"
data-trigger="hover"
data-content="">
{% if not x.suppress_age %}{{ age }} in {% endif %}{{ year }}
</div>
{%- set year_epoch = this_year | date(format="%s") | int %}
{%- for week in range(start=0, end=54) %}
{%- set week_epoch = year_epoch + 604800 * week %}
{%- set this_week_date = week_epoch | date(format="%Y-%m-%d") %}
<div data-date="{{ this_week_date }}" class="week border border-tertiary float-left text-center text-truncate"
style="height: 2em; max-height: 2em; padding: 2px 5px; margin: 2px;">
{%- for day in range(start=0, end=7) %}
{%- set specific_date = (week_epoch + 86400 * day) | date(format="%Y-%m-%d") %}
{%- if specific_date < next_year and specific_date in data %}
{%- for event in data[specific_date] %}
<a {% if event.link %}href="{{ event.link }}"{% endif %} title="{{ specific_date | date(format="%b %-d, %Y") }}" target="_new" {% if event.desc %}data-toggle="popover" data-placement="auto"{% endif %} title="{{ specific_date }}" data-trigger="hover" data-content="{{ event.desc or "" }}">{{ event.name }}</a>
{%- endfor %}
{%- endif %}
{%- endfor %}
</div>
{%- endfor %}
{%- endfor %}
</div>
</div>
</div> <!-- End life in weeks -->

<script>
    console.log("+Adding onReady");
	defer(function () {
	  $(function () {
			var today = new Date();
			$( ".week" ).each(function( index ) {
			  if (today < Date.parse($( this ).attr('data-date'))) {
			  	$( this ).addClass('future-date');
			  }
			});
	  })
	});
</script>

{% endblock content %}
