{%- set p = page or section -%}
<!doctype html>
<html lang="en">
  <head>
    {% include "partials/head.html" %}
  </head>

  <body
    data-bs-spy="scroll"
    data-bs-target=".nav-scroll-spy"
    style="position: relative"
  >
    {% include "partials/site_menu.html" %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div id="main-content" class="col-12 col-xl-8">
          <div style="text-align: center">
            {% if not p.extra?.no_render_title %}
            <h1 class="text-center">{{ p.title }}</h1>
            {% endif %} {% if p.extra?.fj %}
            <a href="/ig66"> Goto All Posts </a>
            {% else %} {% include "partials/tags.html" %} {% endif %}
          </div>
          <div id="content-holder" class="pretty-first-para" {% include "partials/pagefind_attrs.html" %}>
            <div data-pagefind-ignore>{% include "partials/toc.html" %}</div>
            {% block content %}{{ p.content | safe }}{% endblock content %}
          </div>
          <div id="links-to-page" class="rounded"></div>
        </div>

        <div id="right-sidebar" class="d-none d-xl-block col-xl-4">
          <div
            id="ui-toc-affix"
            class="nav-scroll-spy ui-affix-toc ui-toc-dropdown unselectable hidden-print sticky-top"
          >
            <ul
              id="ui-toc-2"
              class="nav-scroll-spy ui-toc-dropdown dropdown-menu"
              aria-labelledby="tocLabel"
            ></ul>
          </div>
        </div>
      </div>
    </div>

    <span id="hold-scripts-so-looks-nice-debugging">
      {% include "partials/scripts.html" %}
      {% if "amazon-products" in p.content %}{% include "partials/amazon_fallback.html" %}{% endif %}
      {% if p.extra?.mermaid %}{% include "partials/mermaid.html" %}{% endif %}
      {% if p.extra?.mathjax %}
      <script
        id="MathJax-script"
        async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
      ></script>
      {% endif %}
      <script>
        $("table").addClass("table table-striped");
        $("#main-content img").not(".float-right-img").addClass("img-fluid");
      </script>
      <script src="https://cursor-party.idvorkin.partykit.dev/cursors.js"></script>
      {% include "partials/annotate.html" %}
    </span>
  </body>
</html>
